@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 15rem;
}

body {
  @apply antialiased;
}

/* nice scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.4);
  border-radius: 9999px;
}
